<h2>Ajouter un vaccin :</h2>
<input
  class="example-form"
  type="text"
  id="input"
  matInput
  placeholder="Recherche"
  [(ngModel)]="filterTerm"
/>

<form class="mat_card_form" *ngIf="vaccins">
  <mat-card
    class="mat_card"
    *ngFor="let vaccin of vaccins | vaccinFilter: filterTerm"
    >{{ vaccin.nom }}

    <mat-icon
      class="btn_help"
      matTooltip="{{ vaccin.informationsvaccin }}"
      matToolTipTouchGestures="on"
      matTooltipClass="tooltip"
      >help</mat-icon
    >

    <mat-icon (click)="openDialogajout()" class="btn_add"
      >add_circle_outline</mat-icon
    >
  </mat-card>
</form>

<mat-dialog-actions>
  <button mat-raised-button id="btn_close" (click)="close()">Close</button>
</mat-dialog-actions>
