<h2>Ajouter vaccin :</h2>

<form class="example-form">
  <mat-form-field class="example-full-width">
    <input id="input" matInput placeholder="Recherche" matInput>
  </mat-form-field>
</form>

<form class="mat_card_form" *ngIf="vaccins">
  <mat-card class="mat_card" *ngFor="let vaccin of vaccins">{{ vaccin.nom }}
    <mat-icon class="btn_help">help</mat-icon>
    <mat-icon (click)="openDialogajout()" class="btn_add">add_circle_outline</mat-icon>
  </mat-card>
</form>

<mat-dialog-actions>
  <button mat-raised-button id="btn_close" (click)="close()">Close</button>
</mat-dialog-actions>
