<h2>Ajouter vaccin :</h2>

<form class="example-form">
  <mat-form-field class="example-full-width">
    <input id="input" matInput placeholder="Recherche" matInput>
  </mat-form-field>
</form>


<form class="mat_card_form">
<mat-card class="mat_card">Avaxim 160
    <mat-icon class="btn_help">help</mat-icon>
    <mat-icon (click)="openDialogajout()" class="btn_add">add_circle_outline</mat-icon>
</mat-card>
<mat-card class="mat_card">Blabla
  <mat-icon class="btn_help">help</mat-icon>
  <mat-icon (click)="openDialogajout()" class="btn_add">add_circle_outline</mat-icon>
</mat-card>
</form>

<mat-dialog-actions>
  <button mat-raised-button id="btn_close" (click)="close()">Close</button>
</mat-dialog-actions>
