<mat-vertical-stepper>
  <mat-step
    *ngFor="let injection of this.userinjections"
    label="{{ injection.date | date: 'shortDate' }}"
    state="step1"
  >
    {{ injection.numero_lot }}
  </mat-step>

  <ng-template matStepperIcon="step1">
    <mat-icon>calendar_today</mat-icon>
  </ng-template>

  <ng-template matStepperIcon="edit">
    <mat-icon>calendar_today</mat-icon>
  </ng-template>
  <ng-template matStepperIcon="done">
    <mat-icon>calendar_today</mat-icon>
  </ng-template>
</mat-vertical-stepper>
