<div class="container" (mouseenter)="tooltip.show()">
  <img #tooltip="matTooltip" class="img-zephyr" src="assets/images/zephyr.png"
    matTooltip="Bonjour {{ user.prenom }}, vous avez 1 rappel à venir" matToolTipTouchGestures="on"
    matTooltipPosition="left" matTooltipClass="tooltip" />
  <h2>Rappels à venir</h2>
  <mat-accordion>
    <mat-expansion-panel class="accordion" (opened)="panelOpenState = true" (closed)="panelOpenState = false">
      <mat-expansion-panel-header>
        <mat-panel-title class="panel_title">
          <div>
            {{this.maladie}}<br />
            A faire
          </div>
          <mat-icon *ngIf="maladieInfo" class="btn-info" matTooltip="{{ maladieInfo[0].informationsmaladie}}"
            matToolTipTouchGestures="on" matTooltipClass="tooltip" color="accent">info</mat-icon>
          <mat-icon (click)="openDialog()" class="btn-alerte">add_alert</mat-icon>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <p>Lorem ipsum dolor sit amet.</p>
    </mat-expansion-panel>
  </mat-accordion>
</div>

<button (mouseenter)="tooltip.show()" #tooltip="matTooltip" (click)="openDialogajout()" id="btplus" mat-mini-fab
  matTooltip="Ajouter un vaccin" matToolTipTouchGestures="on" matTooltipClass="tooltip">
  +
</button>