<div id="toolbar">
  <mat-toolbar id="tool_bar">
    <span id="sp1">
      <mat-button-toggle id="toggleleft" value="left" aria-label="Text align left">
        <mat-icon>format_align_left</mat-icon>
      </mat-button-toggle>
    </span>
    <span id="sp2">Carnet de Vaccination</span>
    <span class="example-spacer"></span>
    <span id="sp3">J.Deo</span>
    <span id="sp4">
      <mat-button-toggle id="toggleright" value="...">...</mat-button-toggle>
    </span>
  </mat-toolbar>
</div>
<div id="toggle_button">
  <mat-button-toggle id="tog1" value="Calendrier">Calendrier</mat-button-toggle>
  <mat-button-toggle id="tog2" value="Chronologie">Chronologie</mat-button-toggle>
  <mat-button-toggle id="tog3" value="Documents">Documents</mat-button-toggle>
</div>

<h2>Rappels à venir</h2>

<mat-accordion> 
  <mat-expansion-panel class="accordion" (opened)="panelOpenState = true"
                       (closed)="panelOpenState = false">
    <mat-expansion-panel-header>
      <mat-panel-title class="panel_title">
        <p>DTP</p>
        <p class="maticon_bell"><button mat-icon-button><mat-icon>add_alert</mat-icon></button></p>        
      </mat-panel-title>      
    </mat-expansion-panel-header>
    <p>Fait le 23/05/15</p>
  </mat-expansion-panel>
</mat-accordion>            

<button id="btplus" mat-mini-fab>+</button>