#tool_bar{
  background-color: #00BFA5;   
  opacity: 0.8;  
}

#toggleButton{
  margin: 0px 0px 0px 0px;  
}

.example-spacer {
  flex: 1 1 auto;
}

#toggleleft{
    background-color: #0097A7;
    opacity: 0.5;     
}

#toggleright{
  background-color: #0097A7;
  opacity: 0.5;
}

#sp2{
    font-family: Roboto Light;
    margin: 0px 0px 0px 580px;
    color: black;
}

#sp3{
  font-family: Roboto Light;
  margin: 0px 10px 0px 0px;
  color: black;
}

#tog1{
  width: 33%;
  background-color: #00BFA5;      
    font-size: 1.5em;
    color:white;
    font-style: Roboto Light; 
}

#tog2{
  width: 33%;
  background-color: #00BFA5;        
    font-size: 1.5em;
    color:white;
    font-style: Roboto Light; 
}

#tog3{
  width: 33%;
  background-color:#00BFA5;           
    font-size: 1.5em;
    color:white;
    font-style: Roboto Light; 
}

h2{
    margin-top: 75px;
}

.accordion{
  width: 30%;
}

.panel_title{
  color:black;
  font-size: 1.5em;
  font-style: FUTURA; 
} 

.maticon_bell{
  margin: 0px 0px 0px 300px;
}

#btplus{
  background-color: #00BFA5;
  color:#FFC400;
  font-size: 2em;
  margin: 450px 0px 0px 1450px;
  position: fixed;
}



