mat-grid-tile {
  background: lightblue;
}

.mat-toolbar {
  background: rgba(0, 191, 165, 0.46);;
  color: #fff;
  font-family: Futura;
  font-style: normal;
  font-weight: 500;
  font-size: 4vw;
  line-height: 16px;
  color: #000000;
  text-align: center;
  padding: 0px;
}

.mat-button-toggle{
  background-color: #0097A7;
  opacity: 0.5; 
}

#tool_bar{
  background-color: #00BFA5;   
  opacity: 0.8;  
}


.example-spacer {
  flex: 1 1 auto;
}

#sp2{
    font-family: Roboto Light;
    margin: 0px 0px 0px 580px;
    color: black;
    font-family: Roboto; 
    font-style:Light ;
}

#sp3{
  font-family: Roboto Light;
  margin: 0px 10px 0px 0px;
  color: black;
  font-family: Roboto; 
  font-style:Light ;
}


h2{
    margin-top: 75px;
}

.accordion{
  width: 30%;
}

.panel_title{
  color:black;
  font-size: 1.5em;
  font-family: FUTURA;
  font-style: medium;

} 

.maticon_bell{
  margin: 0px 0px 0px 300px;
}

#btplus{
  background-color: #00BFA5;
  color:#FFC400;
  font-size: 2em;
  margin: 450px 0px 0px 1450px;
  position: fixed;
}
