.example-spacer {
  flex: 1 1 auto;
}
.mat-tab-label-active {
  background-color: transparent;
  opacity: 1 !important;
}
.mat-step- .mat-step-header,
.mat-step-header .mat-step-icon {
  background-color: transparent !important;
  color: #00bfa5;
}
.mat-step-icon-selected {
  background-color: transparent !important;
  color: rgb(170, 50, 220) !important;
}
.mat-tooltip {
  background: #00bfa5;
  font-size: large;
}
.nom-prenom {
  font-size: smaller;
}
