<mat-toolbar color="primary">
  <span class="example-spacer"></span>
  <span>Carnet de vaccination</span>
  <span class="example-spacer"></span>
  <span class="nom-prenom">{{ user.prenom }} {{ user.nom }}</span>
</mat-toolbar>

<mat-tab-group mat-align-tabs="center" backgroundColor="accent">
  <mat-tab label="Calendrier">
    <app-calendrier></app-calendrier>
  </mat-tab>

  <mat-tab label="Chronologie">
    <app-chronologie></app-chronologie>
  </mat-tab>

  <mat-tab label="Documents">
    <app-documents></app-documents>
  </mat-tab>
</mat-tab-group>


<!--<p class="date">{{currentDate | date:'dd-MM-yyyy'}}</p>-->
<!--<div *ngIf="user" ><p *ngFor="let user of user" >{{ user.datedenaissance | date:'dd-MM-yyyy'}}</p></div>-->